<div id="<%= dom_id question %>">
  <p>
    <strong>Title:</strong>
    <%= question.title %>
  </p>

  <p>
    <strong>Context:</strong>
    <%= question.context %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= question.name %>
  </p>

  <p>
    <strong>Finished:</strong>
    <%= question.finished %>
  </p>

</div>
