<h1 class="display-4 text-primary">Message#index</h1>
<p><%=@msg%></p>
<table class="table">
    <tr>
        <th>Id</th><th>Title</th><th>Name</th>
    </tr>
    <% @data.each do |obj| %>
        <tr>
            <td><%= obj.id %></td>
            <td><a href="/message/<%= obj.id %>"><%= obj.title %></a></td>
            <td><%= obj.person.name %></td>
            <td><a href="/message/edit/<%= obj.id %>">Edit</a></td>
            <td><a href="javascript:delData(<%= obj.id %>);">Delete</a></td>
        </tr>
    <% end %>
    <tr><td><a href="/message/add">Resistration your profile!</td><tr>
</table>
<script>
function delData(num){
    if (confirm("このデータを本当に削除しますか？")){
        document.location="/message/delete/"+num;
    }
    return false
}
</script>