<h1 class="display-4 text-primary"><a href="/cards">Cards#add</a></h1>
<p>※「<%= @card.title %>」の読書データ</p>
<table>
    <tr><th width="200">Id</th><td>
    <%= @card.id %></td></tr>
    <tr><th>タイトル</th><td>
    <%= @card.title %></td></tr>
    <tr><th>著者</th><td>
    <%= @card.author %></td></tr>
    <tr><th>値段</th><td>
    <%= @card.price %>円</td></tr>
    <tr><th>出版社</th><td>
    <%= @card.publisher %></td></tr>
    <tr><th>コメント</th><td>
    <%= @card.memo %></td></tr>
</table>
